<div class="input-group bootstrap-timepicker">
    <input id="timepicker1" type="text" class="form-control">
    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
</div>
<div class="input-group bootstrap-timepicker">
    <input id="timepicker2" type="text" class="form-control">
    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
</div>
<div class="bootstrap-timepicker">
    <input id="timepicker3" type="text" />
</div>
<div class="bootstrap-timepicker">
    <input id="timepicker4" type="text" />
</div>
